:root {
  --ifm-color-primary: rgb(0, 144, 144);
  --ifm-color-primary-dark: rgb(51, 255, 255);
  --ifm-color-primary-darker: rgb(34, 255, 255);
  --ifm-color-primary-darkest: rgb(0, 238, 238);
  --ifm-color-primary-light: rgb(119, 255, 255);
  --ifm-color-primary-lighter: rgb(119, 255, 255);
  --ifm-color-primary-lightest: rgb(119, 255, 255);
  --ifm-background-color: rgb(247, 247, 247);
  --ifm-navbar-background-color: rgb(255, 255, 255);
  --ifm-footer-background-color: rgb(247, 247, 247);
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: rgb(0, 170, 170);
  --ifm-color-primary-dark: rgb(0, 153, 153);
  --ifm-color-primary-darker: rgb(0, 144, 144);
  --ifm-color-primary-darkest: rgb(0, 119, 119);
  --ifm-color-primary-light: rgb(0, 187, 187);
  --ifm-color-primary-lighter: rgb(0, 195, 195);
  --ifm-color-primary-lightest: rgb(0, 221, 221);
  --ifm-footer-background-color: rgb(35, 39, 47);
  --ifm-navbar-background-color: rgb(35, 39, 47);
  --ifm-background-color: rgb(35, 39, 47) !important;
  --ifm-menu-color-background-active: rgba(0, 170, 170, 0.093);
}

.navbar {
  box-shadow: none !important;
  border-bottom: solid 1px rgb(218, 218, 218);
}

.menu {
  font-size: 95%;
}

.menu::-webkit-scrollbar-track {
  background: transparent;
}

.theme-doc-sidebar-container {
  border-right: none !important;
}

.table-of-contents__left-border {
  border-left: none;
}

.pagination-nav__link {
  border: none;
}

.menu__link,
.menu__link--active,
.menu__link--sublist {
  border-radius: 0px 12px 12px 0px;
  padding: 12px;
}

.menu__list-item-collapsible,
.menu__list-item-collapsible--active {
  border-radius: 0px 12px 12px 0px;
}

pre {
  background-color: #fefeff;
  border: 1px solid #ccc;
}

[data-theme='dark'] .navbar {
  box-shadow: none !important;
  border-bottom: solid 1px rgb(44, 47, 54);
}

[data-theme='dark'] pre {
  background-color: #20232a !important;
  border: 1px solid #1a1c22 !important;  
}